<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create Your New listing:</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy Tittle" class="form-control"
                        required>
                    <div class="valid-feedback">looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please Provide a Valid Description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image:</label>
                    <input type="file" name="listing[image]" placeholder="Enter Image URL link" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" placeholder="1200" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Please Enter valid Price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Please Enter valid Country Name</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="listing[location]" placeholder="Mumbai" class="form-control" required>
                    <div class="invalid-feedback">Enter a Valid location</div>
                </div>

                <br>
                <button class="btn btn-dark add-btn">Add</button>
                <br></br>
        </div>
        </form>
        <br>
    </div>